extends layout/main
include ../blocks/header/header
include ../blocks/about/about
include ../blocks/advantageous/advantageous
include ../blocks/advantages/advantages
include ../blocks/answers/answers
include ../blocks/callback/callback
include ../blocks/certificate/certificate
include ../blocks/contacts/contacts
include ../blocks/footer/footer
include ../blocks/mixins/mixins
include ../blocks/quiz/quiz
include ../blocks/reviews/reviews
include ../blocks/statistic/statistic
include ../blocks/tour-selection/tour-selection
include ../blocks/main-nav/main-nav


block title
	title Elite Travel
block pagecontent
	+main-nav()
	+header()
	+advantages()
	.top-wrapper
		+tour-selection()
		+advantageous()
		+callback()
	+about()
	+quiz()
	+reviews()
	+certificate()
	+statistic()
	.bottom-wrapper
		+answers()
		+contacts()
	+footer()
