mixin quiz()
	// start quiz
	+b.quiz#quiz
		.container
			h2 Ответьте на несколько вопросов<br>	и мы подберем вам
				span.accent  лучшие предложения
			.steps
				.step
					h3.step__title
						span.accent 1.
						| Что Вы хотите получить от отдыха?
					p.step__subtitle Выберите один или несколько вариантов
					.step-wrap
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/1.jpg');")
							label.step-wrap__label
								input(type='checkbox', name='step1', value='SPA отдых (Relax отдых)')
								|                     SPA отдых (Relax отдых)
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/2.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Экскурсионный отдых')
								|                     Экскурсионный отдых
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/3.jpg');")
							label.step-wrap__label(value='Романтичный отдых')
								input(type='checkbox')
								|                     Романтичный отдых
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/4.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Активный отдых')
								|                     Активный отдых
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/5.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Экзотические туры')
								|                     Экзотические туры
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/6.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Свой вариант ответа')
								|                     Свой вариант ответа
					button.btn далее
				.step
					h3.step__title
						span.accent 2.
						| Горное шале или вилла на побережье?
					p.step__subtitle Выберите один или несколько вариантов
					.step-wrap.step-wrap_second
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/7.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Горное шалле')
								|                     Горное шалле
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/11.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Вилла на побережье')
								|                     Вилла на побережье
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/12.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='доп картинка')
								|                     Отель
					button.btn далее
				.step
					h3.step__title
						span.accent 3.
						| в какой промежуток времени Вы хотите отправиться в путешествие?
					p.step__subtitle Введите значение
					.step-wrap.step-wrap_third
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/8.jpg');")
							p.step-wrap__text Количество дней
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
					button.btn далее
				.step
					h3.step__title
						span.accent 4.
						| Сколько попутчиков отправляется с Вами?
					p.step__subtitle Выберите количество ваших попутчиков
					.step-wrap.step-wrap_fourth
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/9.jpg');")
							p.step-wrap__text Взрослых
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/10.jpg');")
							p.step-wrap__text Детей
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
					button.btn далее
				.step
					h3.step__title
						span.accent 5.
						| Приблизительный бюджет Вашего путешествия
					p.step__subtitle Введите значение
					.step-wrap.step-wrap_fifth
						.step-wrap__inner
							.slider-wrap
								#slider
									input#amount(type='text', readonly='')
					button.btn далее
				.step
					h3.step__title
						span.accent 6.
						| Пожелания (по расположению, питанию, развлечениям,
						br
						| особые указания и прочее, что Вы считаете необходимым учесть)
					p.step__subtitle Напишите Ваши пожелания
					.step-wrap.step-wrap_sixth
						input(type='text', placeholder='Ваши пожелания', name='wish')
					button.btn далее
				.step
					h2.quiz__title
						span.accent Спасибо
						|  за Ваши ответы!
					h3.step__title Оставьте ваши данные, и мы свяжемся с вами в ближайшее время
					.step-wrap.step-wrap_seventh
						+b.answers
							form
								+e.form-wrapper
									+e.input-wrapper
										+e.LABEL.label(for='name') Как Вас зовут
										+e.INPUT.input(id='name' type='text' required )
									+e.input-wrapper
										+e.LABEL.label(for='email') Ваш e-mail
										+e.INPUT.input(id='email' type='text' required )
									+e.input-wrapper
										+e.LABEL.label(for='phone') Введите номер телефона
										+e.INPUT.input.js_phone_mask(id='phone' type='text' required )
									+e.BUTTON.button.btn(value="отправить")  отправить
									+b.politic
										.checkbox-wrapper
											+e.INPUT.checkbox.checkbox(type='checkbox' checked)
											+e.LABEL.label.label
										+e.P.politic-text Я согласен с условиями обработки персональных данных


			// end quiz