mixin quiz()
	// start quiz
	+b.quiz#quiz
		.container
			h2 Ответьте на несколько вопросов<br>	и мы подберем вам
				span.accent  лучшие предложения
		.container
			.steps
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 1.
						| &CHcy;&tcy;&ocy; &Vcy;&ycy; &khcy;&ocy;&tcy;&icy;&tcy;&iecy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &ocy;&tcy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;?
					p.step__subtitle &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &ocy;&dcy;&icy;&ncy; &icy;&lcy;&icy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ocy;&vcy;
					.step-wrap
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/1.jpg');")
							label.step-wrap__label
								input(type='checkbox', name='step1', value='SPA отдых (Relax отдых)')
								|                     SPA &ocy;&tcy;&dcy;&ycy;&khcy; (Relax &ocy;&tcy;&dcy;&ycy;&khcy;)
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/2.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Экскурсионный отдых')
								|                     &Ecy;&kcy;&scy;&kcy;&ucy;&rcy;&scy;&icy;&ocy;&ncy;&ncy;&ycy;&jcy; &ocy;&tcy;&dcy;&ycy;&khcy;
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/3.jpg');")
							label.step-wrap__label(value='Романтичный отдых')
								input(type='checkbox')
								|                     &Rcy;&ocy;&mcy;&acy;&ncy;&tcy;&icy;&chcy;&ncy;&ycy;&jcy; &ocy;&tcy;&dcy;&ycy;&khcy;
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/4.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Активный отдых')
								|                     &Acy;&kcy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &ocy;&tcy;&dcy;&ycy;&khcy;
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/5.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Экзотические туры')
								|                     &Ecy;&kcy;&zcy;&ocy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &tcy;&ucy;&rcy;&ycy;
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/6.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Свой вариант ответа')
								|                     &Scy;&vcy;&ocy;&jcy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy; &ocy;&tcy;&vcy;&iecy;&tcy;&acy;
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 2.
						| &Gcy;&ocy;&rcy;&ncy;&ocy;&iecy; &shcy;&acy;&lcy;&iecy; &icy;&lcy;&icy; &vcy;&icy;&lcy;&lcy;&acy; &ncy;&acy; &pcy;&ocy;&bcy;&iecy;&rcy;&iecy;&zhcy;&softcy;&iecy;?
					p.step__subtitle &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &ocy;&dcy;&icy;&ncy; &icy;&lcy;&icy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ocy;&vcy;
					.step-wrap.step-wrap_second
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/7.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Горное шалле')
								|                     &Gcy;&ocy;&rcy;&ncy;&ocy;&iecy; &shcy;&acy;&lcy;&lcy;&iecy;
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/11.jpg');")
							label.step-wrap__label
								input(type='checkbox', value='Вилла на побережье')
								|                     &Vcy;&icy;&lcy;&lcy;&acy; &ncy;&acy; &pcy;&ocy;&bcy;&iecy;&rcy;&iecy;&zhcy;&softcy;&iecy;
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 3.
						| &vcy; &kcy;&acy;&kcy;&ocy;&jcy; &pcy;&rcy;&ocy;&mcy;&iecy;&zhcy;&ucy;&tcy;&ocy;&kcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &Vcy;&ycy; &khcy;&ocy;&tcy;&icy;&tcy;&iecy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy; &pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&iecy;?
					p.step__subtitle &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&iecy;
					.step-wrap.step-wrap_third
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/8.jpg');")
							p.step-wrap__text &Kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &dcy;&ncy;&iecy;&jcy;
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 4.
						| &Scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &pcy;&ocy;&pcy;&ucy;&tcy;&chcy;&icy;&kcy;&ocy;&vcy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &scy; &Vcy;&acy;&mcy;&icy;?
					p.step__subtitle &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &vcy;&acy;&shcy;&icy;&khcy; &pcy;&ocy;&pcy;&ucy;&tcy;&chcy;&icy;&kcy;&ocy;&vcy;
					.step-wrap.step-wrap_fourth
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/9.jpg');")
							p.step-wrap__text &Vcy;&zcy;&rcy;&ocy;&scy;&lcy;&ycy;&khcy;
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
						.step-wrap__inner
							.step-wrap__img(style="background-image: url('img/quiz/10.jpg');")
							p.step-wrap__text &Dcy;&iecy;&tcy;&iecy;&jcy;
							.step-wrap__quantity
								button.step-wrap__plus +
								input.step-wrap__num(type='text', value='1')
								button.step-wrap__minus -
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 5.
						| &Pcy;&rcy;&icy;&bcy;&lcy;&icy;&zcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &bcy;&yucy;&dcy;&zhcy;&iecy;&tcy; &Vcy;&acy;&shcy;&iecy;&gcy;&ocy; &pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&yacy;
					p.step__subtitle &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&iecy;
					.step-wrap.step-wrap_fifth
						.step-wrap__inner
							.slider-wrap
								#slider
									input#amount(type='text', readonly='')
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						| &Ocy;&tcy;&vcy;&iecy;&tcy;&softcy;&tcy;&iecy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ocy;&vcy;
						br
						| &icy; &mcy;&ycy; &pcy;&ocy;&dcy;&bcy;&iecy;&rcy;&iecy;&mcy; &vcy;&acy;&mcy;
						span.gold &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
					h3.step__title
						span.gold 6.
						| &Pcy;&ocy;&zhcy;&iecy;&lcy;&acy;&ncy;&icy;&yacy; (&pcy;&ocy; &rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yucy;, &pcy;&icy;&tcy;&acy;&ncy;&icy;&yucy;, &rcy;&acy;&zcy;&vcy;&lcy;&iecy;&chcy;&iecy;&ncy;&icy;&yacy;&mcy;,
						br
						| &ocy;&scy;&ocy;&bcy;&ycy;&iecy; &ucy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy; &icy; &pcy;&rcy;&ocy;&chcy;&iecy;&iecy;, &chcy;&tcy;&ocy; &Vcy;&ycy; &scy;&chcy;&icy;&tcy;&acy;&iecy;&tcy;&iecy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&mcy; &ucy;&chcy;&iecy;&scy;&tcy;&softcy;)
					p.step__subtitle &Ncy;&acy;&pcy;&icy;&shcy;&icy;&tcy;&iecy; &Vcy;&acy;&shcy;&icy; &pcy;&ocy;&zhcy;&iecy;&lcy;&acy;&ncy;&icy;&yacy;
					.step-wrap.step-wrap_sixth
						input(type='text', placeholder='Ваши пожелания', name='wish')
					button.btn &dcy;&acy;&lcy;&iecy;&iecy;
				.step
					h2.quiz__title
						span.gold &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;
						|  &zcy;&acy; &Vcy;&acy;&shcy;&icy; &ocy;&tcy;&vcy;&iecy;&tcy;&ycy;!
					h3.step__title &Ocy;&scy;&tcy;&acy;&vcy;&softcy;&tcy;&iecy; &vcy;&acy;&shcy;&icy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;, &icy; &mcy;&ycy; &scy;&vcy;&yacy;&zhcy;&iecy;&mcy;&scy;&yacy; &scy; &vcy;&acy;&mcy;&icy; &vcy; &bcy;&lcy;&icy;&zhcy;&acy;&jcy;&shcy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy;
					.step-wrap.step-wrap_seventh
						form#form3.main-form(action='send.php')
							input(type='hidden', name='formData', value='Заявка с формы на квизе')
							.main-form-wrap
								p &Kcy;&acy;&kcy; &Vcy;&acy;&scy; &zcy;&ocy;&vcy;&ucy;&tcy;
								input(type='text', name='name', required='', placeholder='Ваше имя')
							.main-form-wrap
								p &Vcy;&acy;&shcy; e-mail
								input(type='email', name='email', required='', placeholder='Ваш e-mail')
							.main-form-wrap
								p &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
								input(type='tel', name='phone', required='', placeholder='Введите номер телефона')
							input.btn(type='submit', value='отправить')
							label
								input(type='checkbox', checked='', required='')
								|                     &YAcy; &scy;&ocy;&gcy;&lcy;&acy;&scy;&iecy;&ncy; &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&mcy;&icy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
		// /.container


	// end quiz