mixin item1(icon, title, description)
	+e.item
		+e.icon(style="background-image: url('img/icons/"  +icon+ ".svg')")
		+e.content
			+e.H4.title= title
			+e.P.description= description


mixin advantages()
	// start advantages
	+b.advantages
		.container
			+e.list
				+item1('cash', 'Выгодные цены', 'Всегда находим подходящие варианты в пределах выделенного бюджета')
				+item1('like', 'Надежность', 'Мы крайне ответственно подходим к выбору партнеров и сотрудничаем только с проверенными туристическими операторами')
				+item1('doc', 'Индивидуальный подход', 'Мы внимательно изучаем ваши предпочтения и ожидания от отпуска поэтому вместе с нами ваш отдых станет незабываемым')
				+item1('world', 'Предложения на любой вкус', 'Организуем индивидуальный и авторский туризм в абсолютно любую точку земного шара')
	// end advantages