.about {
  margin-bottom: 88px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF;
  }

  &__img-one {
    margin-bottom: 30px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;

  }

  &__shadow {
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border: 10px solid;
      border-image: linear-gradient(93.32deg, #DBB777 -4.02%, #A98341 103.09%);
      filter: drop-shadow(0px 3px 19px rgba(248, 207, 137, 0.5));
      border-image-slice: 1;
      pointer-events: none;
    }
  }

  &__img-two {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__img-three {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    &__wrapper {
      align-items: center;
    }
    &__left-col {
      width: 50%;
      padding-right: 10px;
    }
    &__right-col {
      width: 50%;
      padding-left: 10px;
    }
    &__img-one {
      max-width: 525px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      display: block;
    }
    p {
      font-size: 18px;
      line-height: 100%;
      margin-bottom: 0;
    }
    &__img-two {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    &__img-three {
      max-width: 410px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}