mixin about()
	// start about
	+b.about#about&attributes(attributes)
		.container
			+e.wrapper
				+e.left-col
					+e.IMG.img-one(src='img/1.jpg' alt='img')
				+e.right-col
					p Отправляясь в путешествие с нами, вы становитесь богаче! Удивительные места, приятные знакомства, захватывающие увлечения и экзотические блюда, старинная архитектура и будоражащая воображение природа ждут вас. <br><br>Путешествия с Elite Travel — 100% гарантия того, что отпуск станет незабываемым, а деловая поездка пройдет на высшем уровне! Ведь миссия нашей компании — показать вам другие страны и континенты во всей их красоте и разнообразии, обеспечить максимально высокое качество обслуживания, чтобы каждый клиент чувствовал себя услышанным и самым важным.<br><br>Для вас мы ежегодно пополняем знания на мировых конференциях, зарубежных стажировках и выставках, постоянно следим за качеством своей работы, лично посещаем большинство из предлагаемых отелей и непрерывно контролируем уровень услуг наших партнеров. Благодаря большому количеству деловых контактов мы одними из первых узнаем о новинках и акциях, что позволяет нам создавать самые выгодные предложения для вас.<br><br> Elite Travel — это турагентство для тех, кто ценит свое время и стремится получать от путешествия комфорт и положительные эмоции! Мы открываем перед вами весь мир, и лишь ваши пожелания определяют, где и как вы проведете отпуск в этот раз. С нами вы всегда будете уверены во внимательном отношении и персональном подходе к вашим пожеланиям.
			+e.wrapper
				+e.left-col.order-lg-2
					+e.IMG.img-two(src='img/2.jpg' alt='img')
				+e.right-col
					p • Подберем индивидуальный или групповой тур, разработаем авторскую программу в полном соответствии с личными предпочтениями. Подробно расскажем о странах, регионах и особенностях отдыха в выбранном месте.<br><br>• Забронируем номер в отеле, виллу, шале или апартаменты, трансфер, авиа- и ж/д- билеты, арендуем для вас автомобиль, яхту или частный самолет. Окажем VIP сопровождение в любом аэропорте мира.<br><br>• Поможем с получением визы в любую страну. Оформим страховку от невыезда и медицинский страховой полис. Детально ответим на интересующие юридические вопросы.<br><br>• Воплотим в жизнь практически любую идею и организуем незабываемые развлечения для самых искушенных путешественников. Расскажите нам о ваших пожеланиях, а мы придумаем, как их реализовать.
			+e.wrapper
				+e.left-col
					+e.IMG.img-three(src='img/3.jpg' alt='img')
				+e.right-col
					p Время и количество клиентов, ставших за годы работы нашими друзьями, — это лучшее подтверждение надежности и качества Elite Travel. На протяжении 18 лет мы отправляем наших клиентов на лучшие пляжи мира, в увлекательные туры, круизы, гастрономические путешествия, на горнолыжные и лечебно-оздоровительные курорты. Организовываем отпуск в полном соответствии с внутренним миром человека, его идеями и пожеланиями, сохраняя конфиденциальность.<br><br>В вашем распоряжении многолетний опыт нашего дружного коллектива, огромный багаж знаний, а также безграничная забота о каждом клиенте и индивидуальная помощь в любых ситуациях от момента выбора тура до возвращения домой.<br><br> Мечтаете о ярком и насыщенном отдыхе, тогда пишите или звоните нам.<br><br>С Elite Travel вы получите незабываемое и комфортное путешествие, о котором с уверенностью сможете рассказать, как о лучшем отпуске в своей жизни!
	// end about