mixin item2(avatar, userName, text)
	+e.item
		+e.avatar-wrapper
			+e.IMG.avatar(src= avatar alt='avatar')
		+e.H3.name= userName
		+e.P.text= text
mixin reviews()
	// start reviews
	+b.reviews
		.container
			+e.H2.title За годы работы мы получили больше
				span.accent  1000 отзывов
				|   от довольных  клиентов
			+e.list
				+item2('img/avatar1.jpg', 'Маргарита ', 'Мы с мужем уже шестой год пользуемся услугами Элит Тревел. За все это время ни разу не пожалели о выборе компании. Все разы нам подбирали реально крутые и качественные туры, внимательно относились ко всем нашим пожеланиям, к тому же, давали дополнительные скидки (за это отдельное огромное спасибо))) В сентябре 2019 года на годовщину свадьбы летали на Кипр. Это был превосходный отдых!! Отель в 150 метрах от моря) И хотя мы заказывали 3*, все было не уверенные 4*) С нетерпением ждем лета и планируем очередное жпутешествие.')
				+item2('img/avatar2.jpg', 'Вячеслав', 'Хочется отметить профессионализм и внимательность менеджера Анны. С Элит ездили отдыхать впервые, но точно поедем еще не один раз. Все было на высшем уровне!!!')
				+item2('img/avatar3.jpg', 'Екатерина', 'В этом году впервые летела в Италию. И первый раз обращалась в турфирму. Читала кучу негативных отзывов и до последнего ожидала какого-нибудь подвоха. Но все было великолепно: перелет, отель, трансфер и несколько дополнительных экскурсий. Огромное спасибо Вам за чудесный отдых и массу приятных воспоминаний)')

	// end reviews